
commands/botinfo.js
commands/create-nest.js
commands/delete-nest.js
commands/dex-toggle-nest.js
commands/dex-update.js
commands/help.js
commands/list-all-nests.js
commands/migrate-nests.js
commands/pokedex.js
commands/reload.js
commands/report-nest.js
commands/revert-nests.js
commands/search-nests.js
commands/set-admin-role.js
commands/set-city.js
commands/set-country.js
commands/set-language.js
commands/set-prefix.js
commands/set-reporter-role.js
commands/set-sever-name.js
commands/set-state.js
commands/setup.js
commands/test.js
commands/update-nest.js
commands/view-settings.js
events/guildCreate.js
events/guildDelete.js
events/message.js
events/ready.js
home/images.json
home/embeds/reporterRoleCheck.js
home/embeds/adminRoleCheck.js
home/embeds/adminChannelCheck.js
home/colors.json
home/channels.json
util/handler.js
util/emoji.json
index.js
config.json
commands/set-admin-channel.js
commands/send-alert.js
home/utilities.json
SAMPLE_COMMAND.js
